################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT

[buildout]
extensions=buildout.minitagificator
ggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part s
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://cdn.mysql.com/Downloads/MySQL-5.5/mysql-5.5.31.tar.gz
md5sum=bf402cbd52a9af33e5c25b2a4bbc56db

# cmake based
pre-configure-hook=${buildout:directory}/hooks.py:h
noconfigure=true
cmake-options= -DENABLED_LOCAL_INFILE=1 \
    -DBUILD_CONFIG=mysql_release \
    -DEXTRA_CHARSETS=all \
    -DMYSQL_UNIX_ADDR=${buildout:directory}/parts/part/mysqld.sock \
    -DDEFAULT_CHARSET="utf8" \
    -DWITH_EMBEDDED_SERVER=1 \
    -DDEFAULT_COLLATION="utf8_general_ci" \
    -DWITH_INNOBASE_STORAGE_ENGINE=1 \
    -DWITH_ARCHIVE_STORAGE_ENGINE=1 \
    -DWITH_BLACKHOLE_STORAGE_ENGINE=1 \
    -DWITH_EXAMPLE_STORAGE_ENGINE=1 \
    -DWITH_FEDERATED_STORAGE_ENGINE=1 \
    -DWITH_PARTITION_STORAGE_ENGINE=1 \
#    -DWITH_NDBCLUSTER_STORAGE_ENGINE=1 \
    -DWITH_READLINE=1 \
#    -DWITH_SSL=bundled \
    -DWITH_SSL=no \
    -DWITH_ZLIB=system \
    -DWITH_LIBWRAP=0 \
    -DCURSES_CURSES_H_PATH="${buildout:directory}/../ncurses-5/parts/part/include" \ 
    -DCURSES_CURSES_LIBRARY="${buildout:directory}/../ncurses-5/parts/part/lib" \
    -DCMAKE_INSTALL_PREFIX="${buildout:directory}/parts/part" -G "Unix Makefiles"
make-options=VERBOSE=1
#post-make-hook=${buildout:directory}/h.py:h
make-binary-darwin=make
gmake=True
configure = ${buildout:directory}/../cmake-2.8/parts/part/bin/cmake
#environment=
## http://dev.mysql.com/doc/refman/5.0/fr/compilation-problems.html
#    CXX=gcc


                                                     
[s]                                         
recipe = plone.recipe.command                        
update-command=${s:command}                 
command =      
    src=${buildout:directory}/parts/part/scripts/mysql_install_db 
    dst=${buildout:directory}/parts/part/bin/mysql_install_db 
    if [ -f $src ];then if [ ! -f dst ];then cp -vf $src $dst;fi;fi

[mirrors]
mysql=
